body {
    background-color: lightblue;
  }

.home{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.2)),
    url('../imgs/road-6175186_1920.jpg');
    background-size: cover;
  }

  .intro{
      color: whitesmoke;
      padding: 10% 20%;
      text-align: justify;
      font-size: 20px;
      font-weight: 100;
  }

  .name{
      font-size: 5em;
      font-weight: 500;
  }

  .center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
